<input type="text" id="min" placeholder="Min"/>
<br/>
<input type="text" id="max" placeholder="Max" />
<br />

<button id="myButton">Click Me</button>
<h1 id="rand"></h1>

<ul>

</ul>

<br/>
<input type="text" id="username" placeholder="Username"/>
<span id="message"></span>
<br/>
<button disabled="true" id="sign-up">Sign Up</button>

<br/>
<input type="text" id="reverse-textbox" placeholder="Enter text for reversal"/>
<button id="reverse-button">Reverse</button>
<h1 id="reverse-text"></h1>



@section scripts
{
    <script src="~/Scripts/index.js"></script>
}